/* .menu-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.menu-card {
    max-width: 50%;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.menu-card:hover {
    transform: scale(0.9);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.menu-card > img {
    width: 100%;
}
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
} */

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


.menu-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.menu-card {
  width: calc(50% - 1rem);
  max-width:300px;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-card img {
  width: 100%;
  object-fit: cover;
}

.menu-card h2 {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .menu-card {
    max-width: calc(33.33% - 1rem);
  }
}